<div ng-controller="CatalogController as catCtrl">
    <h3 class="text-center">Catalogs</h3>
    <div class=" w-100 d-flex gap-3 flex-wrap justify-content-center">
        <div ng-repeat="catalog in catCtrl.catalogs" class="w-25">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <img ng-src="{{ catalog.imageUrl }}" class="w-100" alt="..."/>
                    </div>
                    <div>
                        <h5 class="card-title">{{ catalog.name }}</h5>
                        <p class="card-text">{{ catalog.description }}</p>
                        <p class="card-text">Available Stock : {{ catalog.quantityAvl }}</p>
                        <p class="card-text">Price : {{ catalog.price | currency:'INR ' : 2 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-primary" ng-disabled="catalog.quantityAvl == 0" ng-click="catCtrl.addToCart(catalog)">Add to cart</button>
                            <label for="">In Cart : {{ catalog.inCart }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>