<div ng-controller="OrderController as ordCtrl" class="w-100">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-start">
        Orders <small>( {{ ordCtrl.orders.length}} )</small>
      </h3>
    </div>
    <div class="d-flex w-100">
      <div
        class="w-100 d-flex flex-column gap-3 justify-content-center align-items-center mt-4"
      >
        <p ng-if="ordCtrl.orders.length == 0 && !ordCtrl.isOrdersEmpty" class="mt-4">Loading ...</p>
        <p ng-if="ordCtrl.isOrdersEmpty" class="mt-4">No orders found ! </p>
        <div ng-if="ordCtrl.orders.length > 0"
          class="mb-3 w-100 d-flex flex-row align-items-center"
        >
          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Items</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cart in ordCtrl.orders">
                  <td>{{ cart.id }}</td>
                  <td>{{ cart.orderDate | date: 'dd/MM/yyyy hh:mm a' }}</td>
                  <td>
                    <ul class="list-unstyled mb-0">
                      <li ng-repeat="item in cart.orderItems">
                        <strong>{{ item.title }}</strong> × <span class="badge bg-primary">{{ item.quantity }}</span>
                      </li>
                    </ul>
                  </td>
                  <td><strong class="text-success">{{ cart.total | currency:'INR ' : 2 }}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  